{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<h1>Bienvenue sur le blog !</h1>

{% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.content|slice(0, 100) }}...</p>
    <a href="{{ path('app_post_show', {'id': post.id}) }}">Lire plus</a>
{% endfor %}

{% endblock %}
